language: objective-c
osx_image: xcode7.3
xcode_project: StopWatch.xcodeproj
xcode_scheme:
xcode_sdk: iphonesimulator
script:
- xctool test -project StopWatch.xcodeproj -scheme StopWatch -sdk iphonesimulator -destination "platform=iOS Simulator,name = iPhone 6ï¼ŒOS = 8.1"
